In [2]:
# Dataset generator produced by Dr Kayode Owa for the ISYS40251 (Deriving Business Value from Data Analytics) module at Nottingham Trent University.
# Developed by Dr Kayode Owa for teaching and assessment activities in the ISYS40251 (Deriving Business Value from Data Analytics) module, School of Science & Technology, Nottingham Trent University.

import random
import pandas as pd
from datetime import datetime, timedelta

# --------------------------------------------------
# STATIC CHOCOLATE PRODUCT LIST (exactly 5 options)
# --------------------------------------------------
CHOCOLATE_PRODUCTS = [
    "Mint Chip Choco",
    "85% Dark Bars",
    "Peanut Butter Cubes",
    "Smooth Silky Salty",
    "99% Dark & Pure"
]

# --------------------------------------------------
# STATIC SALES PERSON LIST
# --------------------------------------------------
SALES_PERSONS = [
    "Jehu Rudeforth", "Van Tuxwell", "Gigi Bohling", "Jan Morforth",
    "Oby Sorrel", "Gunar Cockshoot", "Brien Boise", "Rafaela Blaksland",
    "Barr Faughny", "Mallorie Waber", "Karlen McCaffrey", "Marney O'Breem",
    "Beverie Moffet", "Curtice Advani", "Roddy Speechley"
]

# --------------------------------------------------
# STATIC COUNTRIES
# --------------------------------------------------
COUNTRIES = ["UK", "India", "Australia", "New Zealand", "USA", "Canada"]


# --------------------------------------------------
# RANDOM DATE GENERATOR WITHIN A YEAR
# --------------------------------------------------
def random_date():
    start_date = datetime(2022, 1, 1)
    random_days = random.randint(0, 365)
    d = start_date + timedelta(days=random_days)
    return d.strftime("%d-%b-%y")  # e.g., 07-Jul-22


# --------------------------------------------------
# DATA GENERATOR FUNCTION
# --------------------------------------------------
def generate_sales_data(n_rows):
    data = {
        "Sales Person": [],
        "Country": [],
        "Product": [],
        "Date": [],
        "Amount": [],
        "Boxes Shipped": []
    }

    for _ in range(n_rows):
        sp = random.choice(SALES_PERSONS)
        ct = random.choice(COUNTRIES)
        pr = random.choice(CHOCOLATE_PRODUCTS)
        dt = random_date()

        # amount e.g., $3,430
        amount = f"${random.randint(1000, 14000):,}"

        boxes = random.randint(10, 400)

        data["Sales Person"].append(sp)
        data["Country"].append(ct)
        data["Product"].append(pr)
        data["Date"].append(dt)
        data["Amount"].append(amount)
        data["Boxes Shipped"].append(boxes)

    return pd.DataFrame(data)


# --------------------------------------------------
# EXECUTION
# --------------------------------------------------
if __name__ == "__main__":
    df = generate_sales_data(50)  # <-- change number of rows here
    print(df.head())

    df.to_excel("Chocolate_Sales_Data.xlsx", index=False)
    print("\nData saved to Chocolate_Sales_Data.xlsx")

     Sales Person    Country              Product       Date   Amount  \
0  Mallorie Waber        USA      Mint Chip Choco  02-Jan-22  $10,468
1  Mallorie Waber     Canada   Smooth Silky Salty  05-Jun-22  $12,230
2  Mallorie Waber        USA  Peanut Butter Cubes  17-Sep-22   $4,126
3    Jan Morforth         UK      99% Dark & Pure  14-Jun-22   $8,173
4  Curtice Advani  Australia  Peanut Butter Cubes  30-Jun-22   $3,853

   Boxes Shipped
0            314
1            376
2            383
3            133
4            139

Data saved to Chocolate_Sales_Data.xlsx

In [3]:
pip install Faker

Collecting Faker
  Downloading faker-40.1.0-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: tzdata in c:\users\dylan\anaconda3\lib\site-packages (from Faker) (2025.2)
Downloading faker-40.1.0-py3-none-any.whl (2.0 MB)
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   ---------------------------------------- 2.0/2.0 MB 16.8 MB/s eta 0:00:00
Installing collected packages: Faker
Successfully installed Faker-40.1.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
#Data Generation for HSEQ Manager
from faker import Faker

fake = Faker()

#Manufacturing Staff Members' Name Creation

Manufacturing_Persons = []



for x in range(0,50):
    Names = fake.name()
    Manufacturing_Persons.append(Names)

print(Manufacturing_Persons)

['John Bates', 'Joshua Barry', 'Evelyn Ramirez', 'John Cunningham', 'Amanda Parker', 'Patrick Kennedy', 'Michael Diaz', 'Emily Townsend', 'Julie Davis', 'Michaela Armstrong', 'Anthony Johnston', 'Lori Barber', 'Robert Peters', 'Rebecca Turner', 'Kim Taylor', 'Jo Shea', 'Jared Avery', 'Carrie Ingram', 'Vanessa Swanson', 'Amber Rodriguez', 'John Haney', 'Jorge Holloway', 'Shane Wilcox', 'Nicholas Bell', 'Lonnie Harrington', 'Victoria Diaz', 'Eileen Jackson', 'Kristin Peterson', 'Mark White', 'Jack Smith', 'Patrick Mccormick', 'Thomas Wheeler', 'Tony Coleman', 'Jonathon Ortiz', 'Wendy Hill DVM', 'Karen Johnson', 'Richard Sanders', 'Desiree Montgomery', 'Johnathan Torres', 'Dana Jones', 'Adam Berry', 'Leslie Sullivan', 'Dawn Sanchez', 'Mr. Jason Bennett', 'Anthony Johnson', 'Anthony Mcdonald', 'Alexandra Mendez', 'Phillip Smith', 'Sara Sparks', 'Kristin Klein']

In [21]:
import numpy as np
import pandas as pd
from datetime import datetime
import random
from faker import Faker

fake = Faker()

#Manufacturing Staff Members' Name Creation

Manufacturing_Persons = []

for x in range(0,20):
    Names = fake.name()
    Manufacturing_Persons.append(Names)

Manufacturing_Persons_Sorted = sorted(Manufacturing_Persons*92)

#print(Manufacturing_Persons_Sorted)

date_range = pd.date_range(start = "30-09-2025", end = "30-12-2025")
date_worked = []

counter = 0

#while len(date_worked) < 92:

#for q in range(0,115):
#    if counter == 0:
#        pick = random.choice(date_range)    

#        if pick in date_worked:
#            continue

#        else:
        
#            date_worked.append(pick)
#            counter = counter + 1
    
#    elif counter > 0 and counter <= 3:
#        four_on_date = pick + timedelta(days=1)
#        date_worked.append(four_on_date)
#        pick = four_on_date
#        counter = counter + 1
#    elif counter == 4:
#        counter = 0
      
C_list = []

for y in range(0, 1840):
    C = random.uniform(0,0.25)
    C_list.append(C)

T_list = []

for z in range(0, 1840):
    T = random.uniform(0,0.15)
    T_list.append(T)

J_list = []
for i in range(0, 1840):
    J = random.uniform(0,0.1)
    J_list.append(J)

print(len(Manufacturing_Persons_Sorted))
print(len(C_list))
print(len(T_list))
print(len(J_list))


data = {
    'Manufacturing_Person_Name': Manufacturing_Persons_Sorted,
    #'Date Worked': [], 
    'C - Cumulative Fatigue Component': C_list,  
    'T - Duty Timing Component': T_list,
    'J -  Job Type / Breaks Component': J_list,
}

df = pd.DataFrame(data)


df['Fatigue Index (%)'] = 100*(1-((1-df['C - Cumulative Fatigue Component'])*(1-df['T - Duty Timing Component']- df['J -  Job Type / Breaks Component'])))

print(df.head(10))

print(df.tail(10))

df.describe()

#df.to_excel("Fatigue_Data.xlsx", index=False)

1840
1840
1840
1840
  Manufacturing_Person_Name  C - Cumulative Fatigue Component  \
0            Alexander Ball                          0.009729
1            Alexander Ball                          0.200709
2            Alexander Ball                          0.230939
3            Alexander Ball                          0.027759
4            Alexander Ball                          0.179627
5            Alexander Ball                          0.190079
6            Alexander Ball                          0.146703
7            Alexander Ball                          0.047423
8            Alexander Ball                          0.159272
9            Alexander Ball                          0.030451

   T - Duty Timing Component  J -  Job Type / Breaks Component  \
0                   0.030649                          0.033609
1                   0.124335                          0.048800
2                   0.029347                          0.061711
3                   0.081579                          0.016857
4                   0.011623                          0.021266
5                   0.113351                          0.028171
6                   0.142918                          0.057102
7                   0.058260                          0.009643
8                   0.013636                          0.068350
9                   0.060078                          0.072359

   Fatigue Index (%)
0           7.336189
1          33.909509
2          30.096863
3          12.346361
4          20.660932
5          30.470110
6          31.737923
7          11.210596
8          22.819948
9          15.885557
     Manufacturing_Person_Name  C - Cumulative Fatigue Component  \
1830         Virginia Castillo                          0.022769
1831         Virginia Castillo                          0.223401
1832         Virginia Castillo                          0.068890
1833         Virginia Castillo                          0.247870
1834         Virginia Castillo                          0.222649
1835         Virginia Castillo                          0.183223
1836         Virginia Castillo                          0.093984
1837         Virginia Castillo                          0.107543
1838         Virginia Castillo                          0.085016
1839         Virginia Castillo                          0.084188

      T - Duty Timing Component  J -  Job Type / Breaks Component  \
1830                   0.062081                          0.023149
1831                   0.003932                          0.050061
1832                   0.009027                          0.091413
1833                   0.071802                          0.019088
1834                   0.109234                          0.044005
1835                   0.071868                          0.003801
1836                   0.070727                          0.082553
1837                   0.044970                          0.090760
1838                   0.051722                          0.069547
1839                   0.053579                          0.054410

      Fatigue Index (%)
1830          10.605917
1831          26.533193
1832          16.241025
1833          31.623160
1834          34.177002
1835          24.502831
1836          23.285858
1837          22.867593
1838          19.597537
1839          18.308540

,C - Cumulative Fatigue Component,T - Duty Timing Component,J - Job Type / Breaks Component,Fatigue Index (%)
count,1840.000000,1840.000000,1840.000000,1840.000000
mean,0.121573,0.075131,0.049494,23.115354
std,0.073441,0.044164,0.028781,7.790117
min,0.000200,0.000094,0.000038,2.106496
25%,0.055331,0.036794,0.025390,17.536391
50%,0.118074,0.076281,0.049029,22.973089
75%,0.184935,0.113481,0.074724,29.049541
max,0.249988,0.149981,0.099910,41.089176

In [28]:
import numpy as np
import pandas as pd
from datetime import datetime
import random
from faker import Faker

date_range = pd.date_range(start = "31-12-2020", end = "31-12-2025")

Number_of_Reading = []
Number_of_Correct_Readings = []
Number_of_Incorrect = []


for a in range(0,len(date_range)):
    Number = random.randint(250000,260000)
    Number_of_Reading.append(Number)

    Correct = random.randint(240000,249999)
    Number_of_Correct_Readings.append(Correct)

for b in range(0,len(date_range)):
    Incorrect = Number_of_Reading[b] - Number_of_Correct_Readings[b]
    Number_of_Incorrect.append(Incorrect)

manufacturing_data = {
                   'Date': date_range, 
                   'Total Number of Reading': Number_of_Reading,
                   'Number of Correct Readings': Number_of_Correct_Readings,
                   'Number of Incorrect Readings': Number_of_Incorrect
}

df_defect = pd.DataFrame(manufacturing_data)

df['Defect Rate ('] = 100*(df['Number of Incorrect Readings']/df['Total Number of Reading'])

,Date,Total Number of Reading,Number of Correct Readings,Number of Incorrect Readings
0,2020-12-31,257748,242021,15727
1,2021-01-01,255983,246237,9746
2,2021-01-02,251289,246235,5054
3,2021-01-03,253794,243357,10437
4,2021-01-04,252852,249823,3029
5,2021-01-05,259615,241768,17847
6,2021-01-06,257450,242229,15221
7,2021-01-07,251901,241389,10512
8,2021-01-08,256998,242950,14048
9,2021-01-09,259292,244390,14902
10,2021-01-10,259117,246632,12485
11,2021-01-11,258226,243356,14870
12,2021-01-12,258481,249450,9031
13,2021-01-13,258526,241586,16940
14,2021-01-14,253410,248152,5258
15,2021-01-15,250807,248100,2707
16,2021-01-16,251822,240272,11550
17,2021-01-17,253538,244877,8661
18,2021-01-18,257899,242307,15592
19,2021-01-19,250119,246533,3586