In [12]:
# Dataset generator produced by Dr Kayode Owa for the ISYS40251 (Deriving Business Value from Data Analytics) module at Nottingham Trent University.
# Developed by Dr Kayode Owa for teaching and assessment activities in the ISYS40251 (Deriving Business Value from Data Analytics) module, School of Science & Technology, Nottingham Trent University.

import random
import pandas as pd
from datetime import datetime, timedelta

# --------------------------------------------------
# STATIC CHOCOLATE PRODUCT LIST (exactly 5 options)
# --------------------------------------------------
MEDICAL_PRODUCTS = [
    "Anticoagulation Care Device",
    "Human Immunodeficiency Detection Machine",
    "HIV Medicine",
    "Topical Corticosteroids Cream",
    "Asthma Inhaler",
    "Meningitis B Vaccine",
    "Seasonal Influenza Vaccine",
    "Hepatitis Vaccine"
]

# --------------------------------------------------
# STATIC SALES PERSON LIST
# --------------------------------------------------
SALES_PERSONS = [
    "Jehu Rudeforth", "Van Tuxwell", "Gigi Bohling", "Jan Morforth",
    "Oby Sorrel", "Gunar Cockshoot", "Brien Boise", "Rafaela Blaksland",
    "Barr Faughny", "Mallorie Waber", "Karlen McCaffrey", "Marney O'Breem",
    "Beverie Moffet", "Curtice Advani", "Roddy Speechley"
]

# --------------------------------------------------
# STATIC COUNTRIES
# --------------------------------------------------
COUNTRIES = ["UK", "Germany", "Switzerland", "China", "USA", "Canada"]


# --------------------------------------------------
# RANDOM DATE GENERATOR WITHIN A YEAR
# --------------------------------------------------
def random_date():
    start_date = datetime(2023, 1, 1)
    random_days = random.randint(0, 730)
    d = start_date + timedelta(days=random_days)
    return d.strftime("%d-%b-%y")  # e.g., 07-Jul-22


# --------------------------------------------------
# DATA GENERATOR FUNCTION
# --------------------------------------------------
def generate_sales_data(n_rows):
    data = {
        "Sales Person": [],
        "Country": [],
        "Product": [],
        "Date": [],
        "Amount": [],
        #"Boxes Shipped": []
    }

    for _ in range(n_rows):
        sp = random.choice(SALES_PERSONS)
        ct = random.choice(COUNTRIES)
        pr = random.choice(MEDICAL_PRODUCTS)
        dt = random_date()

        # amount e.g., $3,430
        amount = f"£{random.randint(1000, 14000):,}"

        #boxes = random.randint(10, 400)

        data["Sales Person"].append(sp)
        data["Country"].append(ct)
        data["Product"].append(pr)
        data["Date"].append(dt)
        data["Amount"].append(amount)
        #data["Boxes Shipped"].append(boxes)

    return pd.DataFrame(data)


# --------------------------------------------------
# EXECUTION
# --------------------------------------------------
#if __name__ == "__main__":
#    df = generate_sales_data(50)  # <-- change number of rows here
#    print(df.head())

#    df.to_excel("Sales_Data.xlsx", index=False)
#    print("\nData saved to Chocolate_Sales_Data.xlsx")

In [3]:
pip install Faker

Collecting Faker
  Downloading faker-40.1.0-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: tzdata in c:\users\dylan\anaconda3\lib\site-packages (from Faker) (2025.2)
Downloading faker-40.1.0-py3-none-any.whl (2.0 MB)
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   ---------------------------------------- 2.0/2.0 MB 16.8 MB/s eta 0:00:00
Installing collected packages: Faker
Successfully installed Faker-40.1.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
#Data Generation for HSEQ Manager
from faker import Faker

fake = Faker()

#Manufacturing Staff Members' Name Creation

Manufacturing_Persons = []



for x in range(0,50):
    Names = fake.name()
    Manufacturing_Persons.append(Names)

print(Manufacturing_Persons)

['John Bates', 'Joshua Barry', 'Evelyn Ramirez', 'John Cunningham', 'Amanda Parker', 'Patrick Kennedy', 'Michael Diaz', 'Emily Townsend', 'Julie Davis', 'Michaela Armstrong', 'Anthony Johnston', 'Lori Barber', 'Robert Peters', 'Rebecca Turner', 'Kim Taylor', 'Jo Shea', 'Jared Avery', 'Carrie Ingram', 'Vanessa Swanson', 'Amber Rodriguez', 'John Haney', 'Jorge Holloway', 'Shane Wilcox', 'Nicholas Bell', 'Lonnie Harrington', 'Victoria Diaz', 'Eileen Jackson', 'Kristin Peterson', 'Mark White', 'Jack Smith', 'Patrick Mccormick', 'Thomas Wheeler', 'Tony Coleman', 'Jonathon Ortiz', 'Wendy Hill DVM', 'Karen Johnson', 'Richard Sanders', 'Desiree Montgomery', 'Johnathan Torres', 'Dana Jones', 'Adam Berry', 'Leslie Sullivan', 'Dawn Sanchez', 'Mr. Jason Bennett', 'Anthony Johnson', 'Anthony Mcdonald', 'Alexandra Mendez', 'Phillip Smith', 'Sara Sparks', 'Kristin Klein']

In [21]:
import numpy as np
import pandas as pd
from datetime import datetime
import random
from faker import Faker

fake = Faker()

#Manufacturing Staff Members' Name Creation

Manufacturing_Persons = []

for x in range(0,20):
    Names = fake.name()
    Manufacturing_Persons.append(Names)

Manufacturing_Persons_Sorted = sorted(Manufacturing_Persons*92)

#print(Manufacturing_Persons_Sorted)

date_range = pd.date_range(start = "30-09-2025", end = "30-12-2025")
date_worked = []

counter = 0

#while len(date_worked) < 92:

#for q in range(0,115):
#    if counter == 0:
#        pick = random.choice(date_range)    

#        if pick in date_worked:
#            continue

#        else:
        
#            date_worked.append(pick)
#            counter = counter + 1
    
#    elif counter > 0 and counter <= 3:
#        four_on_date = pick + timedelta(days=1)
#        date_worked.append(four_on_date)
#        pick = four_on_date
#        counter = counter + 1
#    elif counter == 4:
#        counter = 0
      
C_list = []

for y in range(0, 1840):
    C = random.uniform(0,0.25)
    C_list.append(C)

T_list = []

for z in range(0, 1840):
    T = random.uniform(0,0.15)
    T_list.append(T)

J_list = []
for i in range(0, 1840):
    J = random.uniform(0,0.1)
    J_list.append(J)

print(len(Manufacturing_Persons_Sorted))
print(len(C_list))
print(len(T_list))
print(len(J_list))


data = {
    'Manufacturing_Person_Name': Manufacturing_Persons_Sorted,
    #'Date Worked': [], 
    'C - Cumulative Fatigue Component': C_list,  
    'T - Duty Timing Component': T_list,
    'J -  Job Type / Breaks Component': J_list,
}

df = pd.DataFrame(data)


df['Fatigue Index (%)'] = 100*(1-((1-df['C - Cumulative Fatigue Component'])*(1-df['T - Duty Timing Component']- df['J -  Job Type / Breaks Component'])))

print(df.head(10))

print(df.tail(10))

df.describe()

#df.to_excel("Fatigue_Data.xlsx", index=False)

1840
1840
1840
1840
  Manufacturing_Person_Name  C - Cumulative Fatigue Component  \
0            Alexander Ball                          0.009729
1            Alexander Ball                          0.200709
2            Alexander Ball                          0.230939
3            Alexander Ball                          0.027759
4            Alexander Ball                          0.179627
5            Alexander Ball                          0.190079
6            Alexander Ball                          0.146703
7            Alexander Ball                          0.047423
8            Alexander Ball                          0.159272
9            Alexander Ball                          0.030451

   T - Duty Timing Component  J -  Job Type / Breaks Component  \
0                   0.030649                          0.033609
1                   0.124335                          0.048800
2                   0.029347                          0.061711
3                   0.081579                          0.016857
4                   0.011623                          0.021266
5                   0.113351                          0.028171
6                   0.142918                          0.057102
7                   0.058260                          0.009643
8                   0.013636                          0.068350
9                   0.060078                          0.072359

   Fatigue Index (%)
0           7.336189
1          33.909509
2          30.096863
3          12.346361
4          20.660932
5          30.470110
6          31.737923
7          11.210596
8          22.819948
9          15.885557
     Manufacturing_Person_Name  C - Cumulative Fatigue Component  \
1830         Virginia Castillo                          0.022769
1831         Virginia Castillo                          0.223401
1832         Virginia Castillo                          0.068890
1833         Virginia Castillo                          0.247870
1834         Virginia Castillo                          0.222649
1835         Virginia Castillo                          0.183223
1836         Virginia Castillo                          0.093984
1837         Virginia Castillo                          0.107543
1838         Virginia Castillo                          0.085016
1839         Virginia Castillo                          0.084188

      T - Duty Timing Component  J -  Job Type / Breaks Component  \
1830                   0.062081                          0.023149
1831                   0.003932                          0.050061
1832                   0.009027                          0.091413
1833                   0.071802                          0.019088
1834                   0.109234                          0.044005
1835                   0.071868                          0.003801
1836                   0.070727                          0.082553
1837                   0.044970                          0.090760
1838                   0.051722                          0.069547
1839                   0.053579                          0.054410

      Fatigue Index (%)
1830          10.605917
1831          26.533193
1832          16.241025
1833          31.623160
1834          34.177002
1835          24.502831
1836          23.285858
1837          22.867593
1838          19.597537
1839          18.308540

,C - Cumulative Fatigue Component,T - Duty Timing Component,J - Job Type / Breaks Component,Fatigue Index (%)
count,1840.000000,1840.000000,1840.000000,1840.000000
mean,0.121573,0.075131,0.049494,23.115354
std,0.073441,0.044164,0.028781,7.790117
min,0.000200,0.000094,0.000038,2.106496
25%,0.055331,0.036794,0.025390,17.536391
50%,0.118074,0.076281,0.049029,22.973089
75%,0.184935,0.113481,0.074724,29.049541
max,0.249988,0.149981,0.099910,41.089176

In [83]:
import numpy as np
import pandas as pd
from datetime import datetime
import random
from faker import Faker

date_range = pd.date_range(start = "31-12-2020", end = "31-12-2025")

Number_of_Reading = []
Number_of_Correct_Readings = []
Number_of_Incorrect = []


for a in range(0,len(date_range)):
    Number = random.randint(274500,275000)
    Number_of_Reading.append(Number)

    Correct = random.randint(269000,274500)
    Number_of_Correct_Readings.append(Correct)

for b in range(0,len(date_range)):
    Incorrect = Number_of_Reading[b] - Number_of_Correct_Readings[b]
    Number_of_Incorrect.append(Incorrect)

manufacturing_data = {
                   'Date': date_range, 
                   'Total Number of Reading': Number_of_Reading,
                   'Number of Correct Readings': Number_of_Correct_Readings,
                   'Number of Incorrect Readings': Number_of_Incorrect
}

df_defect = pd.DataFrame(manufacturing_data)

df_defect['Defect Rate (%)'] = 100*(df_defect['Number of Incorrect Readings']/df_defect['Total Number of Reading'])

#df_defect.to_excel("Defect_Rate_Data.xlsx", index=False)

df_defect.describe()

,Date,Total Number of Reading,Number of Correct Readings,Number of Incorrect Readings,Defect Rate (%)
count,1827,1827.000000,1827.000000,1827.000000,1827.000000
mean,2023-07-01 23:59:59.999999744,274750.463054,271745.315271,3005.147783,1.093750
min,2020-12-31 00:00:00,274500.000000,269001.000000,73.000000,0.026590
25%,2022-04-01 12:00:00,274629.500000,270375.500000,1651.000000,0.600808
50%,2023-07-02 00:00:00,274753.000000,271691.000000,3027.000000,1.102258
75%,2024-09-30 12:00:00,274871.000000,273083.000000,4356.500000,1.586293
max,2025-12-31 00:00:00,275000.000000,274486.000000,5919.000000,2.152755
std,NaN,141.989815,1581.729491,1586.613064,0.577432

In [8]:
import numpy as np
import pandas as pd
from datetime import datetime
import random

Emission_Activity = ["Electricity", "Natural Gas", "Water Supply", "Water Treatment", "Vehicle Fuel Used", "Business Travel", "Waste Disposal/Recycling"]

date_range = pd.date_range(start = "01-01-2021", end = "31-12-2025")

Total_yearly_electricity = 3819*20320
Daily_Water_Consumption = 3.5*24

Electricity_List = []
Gas_List = []
Water_Supply_List = []
#Scope_3_List = []

for c in range(1, 366):
    Daily_electrity = random.randint(2200000,2800000)
    Electricity_List.append(Daily_electrity)

    Daily_water = random.randint(17000,22000)
    Water_Supply_List.append(Daily_water)

    Daily_gas = random.randint(3800000, 4300000)
    Gas_List.append(Daily_gas)

for c in range(1, 366):
    Daily_electrity = random.randint(2170000,2670000)
    Electricity_List.append(Daily_electrity)

    Daily_water = random.randint(17000,22000)
    Water_Supply_List.append(Daily_water)

    Daily_gas = random.randint(3770000, 4270000)
    Gas_List.append(Daily_gas)

for c in range(1, 366):
    Daily_electrity = random.randint(2300000,2800000)
    Electricity_List.append(Daily_electrity)

    Daily_water = random.randint(17000,22000)
    Water_Supply_List.append(Daily_water)

    Daily_gas = random.randint(3900000, 4300000)
    Gas_List.append(Daily_gas)

for c in range(1, 367):
    Daily_electrity = random.randint(2040000,2440000)
    Electricity_List.append(Daily_electrity)

    Daily_water = random.randint(17000,22000)
    Water_Supply_List.append(Daily_water)

    Daily_gas = random.randint(3640000, 3940000)
    Gas_List.append(Daily_gas)
    
for c in range(1, 366):
    Daily_electrity = random.randint(1975000,2375000)
    Electricity_List.append(Daily_electrity)

    Daily_water = random.randint(17000,22000)
    Water_Supply_List.append(Daily_water)

    Daily_gas = random.randint(3575000, 3975000)
    Gas_List.append(Daily_gas)

    #Scope_3 = random.randint(22000, 28000)
    #Scope_3_List.append(Scope_3)

Emission_Date = {
            "Dates": date_range,
            "Electricity (Kwh)": Electricity_List, 
            "Natural Gas (Kwh)": Gas_List, 
            "Water Use (m^3)": Water_Supply_List 
}

df_CO2 = pd.DataFrame(Emission_Date)

df_CO2['Kg CO2e Electricity'] = df_CO2['Electricity (Kwh)']*0.233 

df_CO2['Kg CO2e Natural Gas'] = df_CO2['Natural Gas (Kwh)']*0.184

df_CO2['Kg CO2e Water Use'] = df_CO2['Water Use (m^3)']*0.149 

df_CO2['Scope 1 and 2 Kg CO2e'] = df_CO2['Kg CO2e Electricity'] + df_CO2['Kg CO2e Natural Gas'] + df_CO2['Kg CO2e Water Use']

#df_CO2['Scope 3 Metric Tonnes CO2e'] = Scope_3_List

df_CO2.to_excel("Emission_Data_New.xlsx", index=False)

df_CO2.describe()

,Dates,Electricity (Kwh),Natural Gas (Kwh),Water Use (m^3),Kg CO2e Electricity,Kg CO2e Natural Gas,Kg CO2e Water Use,Scope 1 and 2 Kg CO2e
count,1826,1.826000e+03,1.826000e+03,1826.000000,1826.000000,1826.000000,1826.000000,1.826000e+03
mean,2023-07-02 12:00:00,2.409245e+06,3.970322e+06,19491.779299,561353.972073,730539.261100,2904.275116,1.294798e+06
min,2021-01-01 00:00:00,1.977789e+06,3.578403e+06,17001.000000,460824.837000,658426.152000,2533.149000,1.125948e+06
25%,2022-04-02 06:00:00,2.259852e+06,3.848426e+06,18202.250000,526545.457750,708110.384000,2712.135250,1.251575e+06
50%,2023-07-02 12:00:00,2.400090e+06,3.970570e+06,19506.500000,559220.853500,730584.788000,2906.468500,1.295571e+06
75%,2024-09-30 18:00:00,2.558592e+06,4.094162e+06,20770.750000,596151.819500,753325.762000,3094.841750,1.339809e+06
max,2025-12-31 00:00:00,2.795964e+06,4.299556e+06,21993.000000,651459.612000,791118.304000,3276.957000,1.442273e+06
std,NaN,1.968901e+05,1.689042e+05,1444.782351,45875.389371,31078.376265,215.272570,6.276614e+04

In [4]:
print(

2021-01-01 00:00:00

In [13]:
#Sales Data

df_sales = generate_sales_data(2738)

#df_sales.to_excel("Sales_Data.xlsx", index=False)

In [98]:
#Click Through Rate

import numpy as np
import pandas as pd
from datetime import datetime
import random

date_range = pd.date_range(start = "01-01-2023", end = "31-12-2024")

MEDICAL_Adverts = [
    "Anticoagulation Care Device Advert",
    "Human Immunodeficiency Detection Machine Advert",
    "HIV Medicine Advert",
    "Topical Corticosteroids Cream Advert",
    "Asthma Inhaler Advert",
    "Meningitis B Vaccine Advert",
    "Seasonal Influenza Vaccine Advert",
    "Hepatitis Vaccine Advert"
]

New_Date = []

Medical_Ads_Daily = []

Impressions = []

Clicks = []

for d in range(0,len(date_range)):

    for e in range(0,len(MEDICAL_Adverts)):
        pick_ad = MEDICAL_Adverts[e]
        Medical_Ads_Daily.append(pick_ad)
        pick_date = date_range[d]
        New_Date.append(pick_date)
        Impression_Numb = random.randint(200000, 300000)
        Impressions.append(Impression_Numb)
        if Impression_Numb <= 200000:
            Clicks_Numb = random.randint(2000,12000)
            Clicks.append(Clicks_Numb)
        else:
            Clicks_Numb = random.randint(5000,20000)
            Clicks.append(Clicks_Numb)
            
Click_data = {
            "Dates": New_Date,
            "Medical_Advert": Medical_Ads_Daily,
            "Impressions": Impressions,
            "Clicks": Clicks
}

df_click_rate = pd.DataFrame(Click_data)

df_click_rate["Click-through Rate (%)"] = (df_click_rate["Clicks"]/df_click_rate["Impressions"])*100

df_click_rate.to_excel("Click-through_Rate.xlsx", index=False)

df_click_rate.describe()

,Dates,Impressions,Clicks,Click-through Rate (%)
count,5848,5848.000000,5848.000000,5848.000000
mean,2024-01-01 00:00:00,249920.849521,12454.897401,5.054214
min,2023-01-01 00:00:00,200005.000000,5001.000000,1.692834
25%,2023-07-02 00:00:00,224773.000000,8755.000000,3.477704
50%,2024-01-01 00:00:00,250117.500000,12378.000000,4.973417
75%,2024-07-02 00:00:00,274824.750000,16160.500000,6.466103
max,2024-12-31 00:00:00,299991.000000,20000.000000,9.935380
std,NaN,28805.989785,4292.738016,1.854140

In [85]:
#ROI Marketing

import numpy as np
import pandas as pd
from datetime import datetime
import random

date_range = pd.date_range(start = "01-01-2022", end = "31-12-2024", freq = 'MS').strftime("%b %Y").tolist()

Marketing_Campaign = [
    "Anticoagulation Care Device Marketing Campaign",
    "Human Immunodeficiency Detection Marketing Campaign",
    "HIV Medicine Advert Marketing Campaign",
    "Topical Corticosteroids Cream Advert Marketing Campaign",
    "Asthma Inhaler Advert Marketing Campaign",
    "Meningitis B Vaccine Advert Marketing Campaign",
    "Seasonal Influenza Vaccine Advert Marketing Campaign",
    "Hepatitis Vaccine Advert Marketing Campaign"
]

New_date_C = []
Generate_sales_growth = []
Average_Organic_Sales_Growth = []
Marketing_Cost = []
Medical_Campaign_Monthly = []

for f in range(0,len(date_range)):

    for g in range(0,len(Marketing_Campaign)):
        pick_Campaign = Marketing_Campaign[g]
        Medical_Campaign_Monthly.append(pick_Campaign)
        pick_date = date_range[f]
        New_date_C.append(pick_date)
        Monthly_sales_growth = random.randint(40000, 68000)
        Generate_sales_growth.append(Monthly_sales_growth)
        Organic_Sales_Growth = random.randint(10000, 20000)
        Average_Organic_Sales_Growth.append(Organic_Sales_Growth)
        Cost = random.randint(5000, 7000)
        Marketing_Cost.append(Cost)
       
Campaign_data = {
            "Dates": New_date_C,
            "Medical_Campaign": Medical_Campaign_Monthly,
            "Monthly Sales Growth (£)": Generate_sales_growth,
            "Monthly Average Organic Sales Growth (£)": Average_Organic_Sales_Growth,
            "Marketing Cost (£)": Marketing_Cost 
}

df_ROI = pd.DataFrame(Campaign_data)

df_ROI["Market Campaign ROI (%)"] = ((df_ROI["Monthly Sales Growth (£)"]-df_ROI["Monthly Average Organic Sales Growth (£)"]-df_ROI["Marketing Cost (£)"])/df_ROI["Marketing Cost (£)"])*100

df_ROI.head(20)

df_ROI.describe()

#df_ROI.to_excel("Market_Campaign_ROI.xlsx", index=False)

In [118]:
#Procurement Total Spend

import random
import pandas as pd
from datetime import datetime, timedelta
from faker import Faker

fake = Faker()

# --------------------------------------------------
# STATIC CHOCOLATE PRODUCT LIST (exactly 5 options)
# --------------------------------------------------
SUPPLIER = []

for i in range(10):
    Company_name = fake.company()
    SUPPLIER.append(Company_name)

# --------------------------------------------------
# RANDOM DATE GENERATOR WITHIN A YEAR
# --------------------------------------------------
def random_date():
    start_date = datetime(2023, 1, 1)
    random_days = random.randint(0, 730)
    d = start_date + timedelta(days=random_days)
    return d.strftime("%d-%b-%y")  # e.g., 07-Jul-22


# --------------------------------------------------
# DATA GENERATOR FUNCTION
# --------------------------------------------------
def generate_procurement_data(n_rows):
    data = {
        "Company Name": [],
        "Date": [],
        "Amount": []
    }

    for _ in range(n_rows):
        cn = random.choice(SUPPLIER)
        dt = random_date()

        # amount e.g., $3,430
        amount = f"£{random.randint(550, 4000):,}"

        data["Company Name"].append(cn)
        data["Date"].append(dt)
        data["Amount"].append(amount)
        
    return pd.DataFrame(data)

df_procurement = generate_procurement_data(2738)

#df_procurement.to_excel("Spend_Data.xlsx", index=False)

In [130]:
#On Time Deliveries

date_range = pd.date_range(start = "01-01-2022", end = "31-12-2024")

Total_Deliveries_Daily = []
On_Time_Daily = []

for a in range(0,len(date_range)):
    Total_Deliveries = random.randint(70000,80000)
    On_Time = random.randint(65000,70000)

    if On_Time > Total_Deliveries:
        Total_Deliveries = On_Time
        On_Time = Total_Deliveries
        Total_Deliveries_Daily.append(Total_Deliveries)
        On_Time_Daily.append(On_Time)
    else:
        Total_Deliveries_Daily.append(Total_Deliveries)
        On_Time_Daily.append(On_Time)
    
Deliver_data = {                   
            "Date": date_range, 
            "Total Deliveries": Total_Deliveries_Daily,
            "On Time Deliveries": On_Time_Daily
}

df_delivery = pd.DataFrame(Deliver_data)

df_delivery["On Time Delivery Percentage (%)"] = (df_delivery["On Time Deliveries"]/df_delivery["Total Deliveries"])*100

#df_delivery.to_excel("Delivery_Data.xlsx", index=False)

df_delivery.describe()

,Date,Total Deliveries,On Time Deliveries,On Time Delivery Percentage (%)
count,1096,1096.000000,1096.000000,1096.000000
mean,2023-07-02 12:00:00,74915.129562,67497.774635,90.240031
min,2022-01-01 00:00:00,70003.000000,65011.000000,81.409759
25%,2022-10-01 18:00:00,72435.000000,66238.750000,87.263702
50%,2023-07-02 12:00:00,74777.500000,67486.500000,90.059675
75%,2024-04-01 06:00:00,77506.250000,68745.250000,93.383309
max,2024-12-31 00:00:00,79995.000000,70000.000000,99.383724
std,NaN,2954.095417,1447.325454,4.072185

In [24]:
#Contract Leakage

import random
import pandas as pd
from datetime import datetime, timedelta

# --------------------------------------------------
# RANDOM DATE GENERATOR WITHIN A YEAR
# --------------------------------------------------
def random_date():
    start_date = datetime(2023, 1, 1)
    random_days = random.randint(0, 730)
    d = start_date + timedelta(days=random_days)
    return d.strftime("%d-%b-%y")  # e.g., 07-Jul-22

# --------------------------------------------------
# DATA GENERATOR FUNCTION
# --------------------------------------------------
def generate_leakage_data(n_rows):
    data = {
        "Date": [],
        "Leakage Amount (£)": [],
        "Non-Leakage Amount (£)": [],
        "Sum of Purchase Orders (£)": [],
        "Percentage Leakage (%)": []
    }

    for _ in range(n_rows):
        dt = random_date()

        # amount e.g., $3,430
        leakage_amount = random.randint(200,400) 
        non_leakage_amount = random.randint(1700,4500)
        Sum_PO = leakage_amount + non_leakage_amount
        leakage_percent = (leakage_amount/Sum_PO)*100

        data["Date"].append(dt)
        data["Leakage Amount (£)"].append(leakage_amount)
        data["Non-Leakage Amount (£)"].append(non_leakage_amount)
        data["Sum of Purchase Orders (£)"].append(Sum_PO)
        data["Percentage Leakage (%)"].append(leakage_percent)
        
        
    return pd.DataFrame(data)

df_leakage = generate_leakage_data(1800)

#df_leakage.to_excel("Value_Leakage.xlsx", index=False)

df_leakage.describe()

,Leakage Amount (£),Non-Leakage Amount (£),Sum of Purchase Orders (£),Percentage Leakage (%)
count,1800.000000,1800.000000,1800.000000,1800.000000
mean,300.716111,3091.977222,3392.693333,9.414429
std,58.261615,821.545869,822.626889,2.972772
min,200.000000,1700.000000,1918.000000,4.269855
25%,249.000000,2375.750000,2687.000000,7.181252
50%,302.000000,3082.000000,3379.500000,8.847311
75%,350.000000,3815.250000,4117.250000,11.355451
max,400.000000,4500.000000,4896.000000,18.663484

In [6]:
#Saving vs Target Saving

import random
import pandas as pd
from datetime import datetime, timedelta

date_range = pd.date_range(start = "01-01-2022", end = "31-12-2024", freq = 'MS').strftime("%b %Y").tolist()

saving_target = [6500, 8000, 10500, 11000, 14000, 15750, 16800, 18450, 19000, 22000, 24000, 25500] 

saving_year2023 = []
saving_year2024 = []

for j in range(12):
    targets = saving_target[j] + 1000
    targets2 = saving_target[j] + 1500
    saving_year2023.append(targets)
    saving_year2024.append(targets2)

all_saving_target = saving_target + saving_year2023 + saving_year2024

saving_data = {
        "Date": date_range,
        "Monthly Baseline (£)": [],
        "Monthly Price (£)": [],
        "Monthly Saving (£)": [],
        "Saving Target (£)": all_saving_target
    }

for h in range(0,len(date_range)):
    
    Baseline = random.randint(200000, 300000)
    Price = random.randint(170000, 270000)

    if Baseline - Price < 4500:
        New_Baseline = random.randint(210000,220000)
        New_Price = random.randint(200000,210000)
        saving_data["Monthly Baseline (£)"].append(New_Baseline)
        saving_data["Monthly Price (£)"].append(New_Price)
        saving_data["Monthly Saving (£)"].append(New_Baseline - New_Price)
    elif Baseline - Price > 30000:
        Big_Baseline = random.randint(200000,210000)
        Small_Price = random.randint(185000,190000)
    
        saving_data["Monthly Baseline (£)"].append(Big_Baseline)
        saving_data["Monthly Price (£)"].append(Small_Price) 
        saving_data["Monthly Saving (£)"].append(Big_Baseline - Small_Price)
    else:
        saving_data["Monthly Baseline (£)"].append(Baseline)
        saving_data["Monthly Price (£)"].append(Price) 
        saving_data["Monthly Saving (£)"].append(Baseline - Price)

    
    #saving_data["Saving Target (£)"].append(saving_target)

    #Forcast_saving = random.randint(40000, 68000)
    #saving_data["Forcast Saving (£)"].append(Forcast_saving)

df_saving = pd.DataFrame(saving_data)

df_saving.to_excel("Saving_Data.xlsx", index=False)

df_saving.describe()

,Monthly Baseline (£),Monthly Price (£),Monthly Saving (£),Saving Target (£)
count,36.000000,36.000000,36.000000,36.000000
mean,216714.805556,201859.000000,14855.805556,16791.666667
std,17578.215402,17923.782636,6500.471336,6029.220513
min,200069.000000,180505.000000,4065.000000,6500.000000
25%,207350.000000,187441.750000,9338.000000,11875.000000
50%,211784.500000,200772.000000,14949.000000,17025.000000
75%,217645.000000,206425.500000,18936.000000,20875.000000
max,281309.000000,253678.000000,29586.000000,27000.000000